#ignore any files with these words in their name
utils
**/utils

# ignore these folders
tobitheghost/utils/
tobitheghost/templates/html_utils
tobitheghost/static/utils_static
tobitheghost/__pycache__
.vscode/settings.json
tobitheghost/static/pages/parcel/Parcels_data.csv
tobitheghost/utils/server_site.log
tobitheghost/static/pages/parcel/Parcels_data.db