#ignore any files with these words in their name
utils
**/utils

# ignore these folders
tobitheghost/utils/
tobitheghost/__pycache__/__init__.cpython-310.pyc
tobitheghost/__pycache__/home.cpython-310.pyc
tobitheghost/__pycache__/logs.cpython-310.pyc
.vscode/settings.json
tobitheghost/static/pages/parcel/Parcels_data.csv