<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{%block title%}Base{% endblock %}</title>
    <link
      rel="stylesheet"
      href="{{url_for('static', filename='pages/base/css/style.css')}}" />
    <link
      rel="manifest"
      href="{{url_for('static', filename='manifest/manifest.json')}}" />
    <link
      rel="shortcut icon"
      type="image/png"
      href="{{url_for('static', filename='icons/favicon_512x512.png')}}" />
    {% block head_link_script %}{% endblock %}
  </head>
  <body>
    <nav>
      <div id="nav-bar">
        <a class="nav-image-link" href="{{ url_for('home') }}">
          <div id="nav-image">
            <img
              class="nav-image"
              src="{{url_for('static', filename='pages/home_page/images/logo.png')}}"
              alt="Tobi logo image" />
          </div>
        </a>
        <div id="nav-links">
          <ul>
            <li>
              <a href="{{ url_for('home') }}#about-me"
                ><span class="link-text">About Me</span></a
              >
            </li>
            <li>
              <a href="{{ url_for('home') }}#portfolio-link"
                ><span class="link-text">Portfolio</span></a
              >
            </li>
            <li>
              <a href="#"><span class="link-text">Pixel</span></a>
            </li>
            <li>
              <a href="{{ url_for('movies') }}"><span class="link-text">Movies</span></a>
            </li>
          </ul>
          <button id="contact_button">
            <a href="{{ url_for('home') }}#contact-input">Contact Me</a>
          </button>
        </div>
      </div>
    </nav>
    {% block content %} {% endblock %}
    {% block afterBodyScript %} {% endblock %}
    
  </body>
</html>
