{% extends "base.html"%} {% block title %}Tobi Theo Ghost{% endblock %} {% block
head_link_script %}
<link
  rel="stylesheet"
  href="{{url_for('static', filename='pages/games/game_page/game_page.css')}}" />
{% endblock %} {% block content %}

<section id="game_selection">

  <section id="game_wrapper">
    <a id="game_link" href="{{ url_for('home.pixel') }}">
    <div id="game_icon_wrapper">
      <div id="top_img_wrapper">
        <div id="img_icon_wrapper">
          <img 
          class="icon_image img1" 
          src="{{url_for('static', filename='pages/games/game_page/placeholder/Untitled-3.png')}}"
          alt=""
          name=""/>
        </div>
      </div>
      <div id="icon_description">
        <div id="icon_title">
          <h2>Pixel Art Showcase</h2>
        </div>
        <div id="icon_info">
          <h3 id="game_info_text">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum
            consequatur est quo nisi eos quaerat praesentium, fuga ea sed vero
            rem suscipit debitis nihil
          </h3>
        </div>
      </div>
    </div>
    </a>
  </section>

  <section id="game_wrapper">
    <a id="game_link" href="">
    <div id="game_icon_wrapper">
      <div id="top_img_wrapper">
        <div id="img_icon_wrapper">
          <img 
          class="icon_image img2" 
          src="{{url_for('static', filename='pages/games/game_page/placeholder/Untitled-2.png')}}"
          alt=""
          name=""/>
        </div>
      </div>
      <div id="icon_description">
        <div id="icon_title">
          <h2>TicTacToe</h2>
        </div>
        <div id="icon_info">
          <h3 id="game_info_text">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum
            consequatur est quo nisi eos quaerat praesentium, fuga ea sed vero
            rem suscipit debitis nihil
          </h3>
        </div>
      </div>
    </div>
    </a>
  </section>

  <section id="game_wrapper">
    <a id="game_link" href="">
    <div id="game_icon_wrapper">
      <div id="top_img_wrapper">
        <div id="img_icon_wrapper">
          <img 
          class="icon_image img3" 
          src="{{url_for('static', filename='pages/games/game_page/placeholder/Untitled-2.png')}}"
          alt=""
          name=""/>
        </div>
      </div>
      <div id="icon_description">
        <div id="icon_title">
          <h2>Placeholder</h2>
        </div>
        <div id="icon_info">
          <h3 id="game_info_text">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum
            consequatur est quo nisi eos quaerat praesentium, fuga ea sed vero
            rem suscipit debitis nihil
          </h3>
        </div>
      </div>
    </div>
    </a>
  </section>

  <section id="game_wrapper">
    <a id="game_link" href="">
    <div id="game_icon_wrapper">
      <div id="top_img_wrapper">
        <div id="img_icon_wrapper">
          <img 
          class="icon_image img4" 
          src="{{url_for('static', filename='pages/games/game_page/placeholder/Untitled-2.png')}}"
          alt=""
          name=""/>
        </div>
      </div>
      <div id="icon_description">
        <div id="icon_title">
          <h2>Placeholder</h2>
        </div>
        <div id="icon_info">
          <h3 id="game_info_text">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum
            consequatur est quo nisi eos quaerat praesentium, fuga ea sed vero
            rem suscipit debitis nihil
          </h3>
        </div>
      </div>
    </div>
    </a>
  </section>

  <section id="game_wrapper">
    <a id="game_link" href="">
    <div id="game_icon_wrapper">
      <div id="top_img_wrapper">
        <div id="img_icon_wrapper">
          <img 
          class="icon_image img5" 
          src="{{url_for('static', filename='pages/games/game_page/placeholder/Untitled-2.png')}}"
          alt=""
          name=""/>
        </div>
      </div>
      <div id="icon_description">
        <div id="icon_title">
          <h2>Placeholder</h2>
        </div>
        <div id="icon_info">
          <h3 id="game_info_text">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum
            consequatur est quo nisi eos quaerat praesentium, fuga ea sed vero
            rem suscipit debitis nihil
          </h3>
        </div>
      </div>
    </div>
    </a>
  </section>

</section>
{% endblock %}
